:root {
    --StudioBlueColor: rgba(33, 150, 243, 1);
    --MainBlackColor: rgba(33, 33, 33, 1);
    --MainWhiteColor: rgba(255, 255, 255, 1);
    --MainGreyColor: rgba(117, 117, 117, 1);
    --BacgroundGafitColor: rgba(47, 48, 58, 1);
    --BacgroundLightGafitColor: rgba(245, 244, 250, 1);
    --FontLogoRaleway: font-family: "Raleway", sans-serif;
    --FontDefaultRoboto: font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--MainBlackColor);
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.page-header {
    box-sizing: border-box;
    display: flex;
    border-bottom: solid 1px #ECECEC;
}
.logo-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-left: 161.25px; /* =215*0,75 */ 
    margin: 0;
    border: 0;
}
.header-logo-blue {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--StudioBlueColor);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo-right {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--MainBlackColor);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.header-logo-right:hover,
.header-logo-right:focus {
    color: var(--StudioBlueColor);
}
.header-links-container {
    display: flex;
    margin: 0;
    border: 0;
    padding: 32px 0px 32px 69.75px; /* =(453-215-145)=93x0,75 */
    gap: 46px  /* obliczenia odległości między elemntami: lewo=(552-433-53)=46x0,75 | prawo=(656-552-58)=46x0,75 */
}
.header-links {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
    color: var(--MainBlackColor);
    text-decoration: none;
}
.header-links:hover,
.header-links:focus {
    color: var(--StudioBlueColor);
}

.header-links-contact-container {
    display: flex;
    margin: 0;
    border: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 278.25px; /*1078-656-51= 371x0,75 */
    gap: 37.5px; /* =(1263-1078-135)=50x0,75 */

}
.header-portfolio {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02;
    color: var(--StudioBlueColor);
    text-decoration: none;
}
.header-portfolio:hover,
.header-portfolio:focus {
    color: var(--StudioBlueColor);
}
.header-links-contact-container {
    display: flex;
}
.header-links-contact {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--MainGreyColor);
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-links-contact:hover,
.header-links-contact:focus {
    color: var(--StudioBlueColor);
}
.main-button-place {
    background-color: var(--BacgroundGafitColor);
    color: var(--MainWhiteColor);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 200px 0;
    display: flex;
    gap: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-button {
    color: var(--MainWhiteColor);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--StudioBlueColor);
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-transform: none;
    cursor: pointer;
}
.main-button:hover,
.main-button:focus {
    color: var(--StudioBlueColor);
}
.main-section-headings {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.main-section-description {
    color: var(--MainGreyColor);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.main-section,
.portfolio-button-list,
.portfolio-main-section,
.what-we-do-presentation,
.main-section-our-team-list {
    list-style: none;
}

.main-section-our-team-heading,
.what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-section-our-team {
    background-color: var(--BacgroundLightGafitColor);
}

.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 00.03em;
}

.team-role {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 00.03em;
    color: var(--MainGreyColor);
}

.footer {
    background-color: var(--BacgroundGafitColor);
    font-style: normal;
}

.header-logo-right-down {
    font-family: var(--FontLogoRaleway);
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--MainWhiteColor);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.header-logo-right-down:hover,
.header-logo-right-down:focus {
    color: var(--StudioBlueColor);
}

.footer-adress {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    color: var(--MainWhiteColor);
    text-decoration: none;
}

.footer-email {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 00.03em;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-email:hover,
.footer-email:focus {
    color: var(--StudioBlueColor);
}

.footer-email-portfolio-underline {
   font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 00.03em;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline 
}

.footer-email-portfolio-underline:hover,
.footer-email-portfolio-underline:focus {
    color: var(--StudioBlueColor);
}
.footer-tel {
    font-family: var(--FontDefaultRoboto);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--StudioBlueColor);
}

.portfolio-button {
    color: var(--MainBlackColor);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--BacgroundLightGafitColor);
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: none;
    text-align: center;
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--MainWhiteColor);
    background-color: var(--StudioBlueColor);
}

.portfolio-h-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-description {
    color: var(--MainGreyColor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 00.03em;
}